/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--primary-color: #fff;
	--secondary-color: #000;
	--title-color: #000;
	--text-color: #000;
	--surface-color: #EFEFEF;
	--code-color: #000;
}

.dark-theme {
	--primary-color: #193244;
	--secondary-color: #bbbbbb;
	--title-color: #81C6BF;
	--text-color: #cccccc;
	--link-color: #D4DB99;
	--surface-color: #26292C;
	--code-color: #D77976;
}

body {
	font-family: Verdana, sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	text-align: left;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--title-color);
	letter-spacing: 1px;
	margin: 2rem 0;
}


strong,
b,
p {
	color: var(--text-color);
	margin: 1.5rem 0;
}

a {
	padding: 0 0.2rem;
	display: inline-block;
	color: var(--text-color);
	text-decoration: none;
}

a {
  position: relative;
  transition: color ease .3s;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

a:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 5%;
  left: 0;
  bottom: 0;
  background-color: var(--title-color);
  transition: all ease .3s;
}


a:hover::after {
  height: 100%;
}

article a {
	color: var(--link-color);
}

article a:after {
	content: none;
	color: var(--link-color);
}

article a:hover {
	color: var(--link-color);
}


a.active {
	font-weight: bolder;
}

li {
	margin: 1rem 0;
}

ol {
	list-style: none;
	counter-reset: item;
	padding: 0;
}

ol > li {
	counter-increment: item;
}

ol > li:before {
	margin: 0 0.5rem 0 0;
	content: counter(item) ".";
	color: white;
	text-align: center;
}

nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	color: var(--code-color);
	background-color: var(--surface-color);
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

blockquote > p {
	color: var(--text-color);
}

summary {
	cursor: pointer;
}

.videobox {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}

.videobox iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
