---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welcome to Pathinking</h1>
			<p>Hi, I am Parker. I am software developer with 3+ years of industry experience builing websites</p>
			<p>Hi, 我是 Parker。我是一個三年以上經驗的軟體工程師，目前專注於 Web Frontend 的開發，並規劃去日本工作。</p>
			<p>STAR 原則</p>
			<p>Here's my thinking path.</p>
			<p>...more self introduction</p>
			<!-- <figure>
				<img src="/write-down.png">
				<figcaption>
						<a href="https://www.instagram.com/p/Ch4r5EZqmTX/" rel="nooopener noreferrer" target="_blank">
							source
						</a>
				</figcaption>
			</figure> -->
		</main>
		<Footer />
	</body>
</html>
